ul{
list-style: none;
padding: 0;
background-color: #2E2E2E;
}

li {
    display: inline-block;
    padding: 10px;
}
.bn3637 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem 1rem;
    font-family: 'Raleway';
    font-weight:700;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
    color:#9f9f9f;
    backface-visibility: hidden;
    border: 0.3rem solid transparent;
    border-radius: 8px;
    background-color:#e6ceff;
  }
  
  .bn36 {
    border-color: #e6ceff;
    transition: transform 0.2s cubic-bezier(0.235, 0, 0.05, 0.95);
  }
  
  .bn36:hover {
    transform: perspective(1px) scale3d(1.2, 1.2, 1) translateZ(0) !important;
  }