<div class= "about-box" id="aboutbox">
  <div class="banner">
      <img src="../../assets/logo_p.png">
    <h3>cozy<strong>CODE</strong>.io</h3>
  </div>
  <div class="contact">
      <h4>Mail me @:</h4>
      <p>pgahlaut994@gmail.com</p>
      <p>pratham_m200710ca@gmail.com</p>
  </div>

<div class="github">
    <h4>Github profile:</h4>
    <a href="https://github.com/pgahlaut">Pratham Gahlout</a>
    <p></p>
</div>
<div class="disclaimer">
    <p>If you find any bugs or problems while running your code, feel free to contact me. It'll help me to improve this platform.</p>
</div>
<div class="copyright">
    <p>© Copyright 2021 by Pratham Gahlout. All rights reserved.</p>
</div>
</div>
